/*Stylesheet som gäller för startsidan*/

/*Picture and text at homepage*/
.homePic {
    margin-top: 20px;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

@media (orientation: portrait) { .homePic { width:100%; } }

.image-wrapper {
    position: relative;
}

.textPic {
    position: absolute;
    bottom: calc(50% - (250px/2));
    left: 50%;
    width: 40%;
    border-radius: 10px;
    padding: 0 15px;
}

/*Responsive layout for mobile*/
@media (max-width: 800px) {
    .textPic {
        position: relative;
        margin: 20px 10px;
        bottom: 0;
        left: 0;
        width: auto;
    }
}