/*Stylesheet som gäller för alla sidor*/

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
}
/*Lite text-fix*/
h1, h2, h3, h4, h5, p, span {
    line-height: 1.5;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 18px;
}

/*Poledance Logo*/
.pdLogo {
    max-width: 12%;
}

/*För header*/
nav ul {
    padding-inline-start: 0;
    list-style-type: none;
}
.headerMenu {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.headerMenu li {
    display: inline;
}
.headerMenu li a {
    text-decoration: none;
    color: black;
    font-size: 50px;
    padding: 0px 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*För menyn med nivåer*/
.menuBorder {
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.flex-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-link {
    margin-bottom: 10px;
    background-color: #ffc6c7;
    padding: 5px 30px;
    margin-left: 10px;
    border-radius: 10px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu-link:hover {
    box-shadow: 0 5px 15px -10px #000;
    -webkit-transform: translate(0px, -4px);
    -ms-transform: translate(0px, -4px);
    transform: translate(0px, -4px);
    background-color: #faeee7;
}
.active {
    border: solid black;
}
@media screen and (max-width: 600px) {
    .flex-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu-link {
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }
    .menu-link:hover {
        box-shadow: none;
        transform: none;
        background-color: #ffc6c7;
    }
}